@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

p {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #333;
    background-color: rgb(233, 110, 110);
}

img {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #333;
    background-color: rgb(233, 110, 110);
}